<h1>Restaurants</h1>

<ul>
  <% @restaurants.each do |restaurant| %>
    <p><%= link_to restaurant.name, restaurant_path(restaurant)%></p>
  <% end %>
</ul>

<%= link_to "New Restaurant", new_restaurant_path, class: "btn btn-primary"%>
